<!DOCTYPE HTML>
<html lang="en">
</head>
 <!-- jQuery -->
    <script src="static/js/jquery-2.0.0.min.js" type="text/javascript"></script>

    <!-- Bootstrap4 files-->
    <script src="static/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Font awesome 5 -->
    <link href="static/fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- custom style -->
    <link href="static/css/ui.css" rel="stylesheet" type="text/css" />
    <link href="static/css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />

    <!-- custom javascript -->
    <script src="static/js/script.js" type="text/javascript"></script>

    <script type="text/javascript">
        /// some script

        // jquery ready start
        $(document).ready(function() {
            // jQuery code

        });
        // jquery end
    </script>
</head>

<body>
    <!-- ========================= SECTION INTRO ========================= -->
    <section class="section-intro padding-y-sm">
        <div class="container">
<nav class="navbar navbar-expand-lg  p-3 mb-2 bg-dark text-white"">
  <a class="navbar-brand text-white" href="#">BKRSYSTEM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav justify-content-end text-white">
  <li class="nav-item ">
    <a class="nav-link text-white" href="#">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="#">ABOUT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="#">BLOG</a>
  </li>
  
</ul>
  
  </div>
</nav>

            <div class="intro-banner-wrap">
              <img src="https://images.adsttc.com/media/images/573c/90c0/e58e/ce1e/1600/0007/large_jpg/Here_is_a_theater_to_unfold_an_outstanding_drama__and_the_characters_are_book_lovers_sitting_on_the_soft_couch_or_standing_beside_the_bookshelves._0004.jpg?1463587001" style="Width: 1200px; Height: 450px;" class="img-fluid rounded">
            </div>  

        </div>
        <!-- container //  -->
    </section>

    <section class="section-content">
        <div class="container">

            <header class="section-heading">
                <h1 class="section-title p-3 mb-2 bg-dark text-white justify-content-center">BOOKS AVAILABLE IN THE STORE TO THE READERS</h1>
            </header>
            <!-- sect-heading -->

            <div class="row">
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[40]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[40]}}" class="title">{{coll_titles.iloc[40]}} </a>

                            
                            <div class="price mt-1">{{coll_authors.iloc[40]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[135]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[135]}}" class="title">{{coll_titles.iloc[135]}}</a>

                            
                            <div class="price mt-1">{{coll_authors.iloc[135]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[100]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[100]}}" class="title">{{coll_titles.iloc[100]}}</a>

                            
                            <div class="price mt-1">{{coll_authors.iloc[100]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[520]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[520]}}" class="title">{{coll_titles.iloc[520]}}</a>

                         
                            <div class="price mt-1">{{coll_authors.iloc[520]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->

        </div>
        <!-- container .//  -->
    </section>

    <section class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[62]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[62]}}" class="title">{{coll_titles.iloc[62]}} </a>

                          
                            <div class="price mt-1">{{coll_authors.iloc[62]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[80]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[80]}}" class="title">{{coll_titles.iloc[80]}}</a>

                            <div class="price mt-1">{{coll_authors.iloc[80]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[61]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[61]}}" class="title">{{coll_titles.iloc[61]}}</a>

                            <div class="price mt-1">{{coll_authors.iloc[61]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[311]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[311]}}" class="title">{{coll_titles.iloc[311]}}</a>

                       
                            <div class="price mt-1">{{coll_authors.iloc[311]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->

        </div>
        <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-bottom-sm">
        <div class="container">

            <!-- sect-heading -->

            <div class="row">
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[420]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[420]}}" class="title">{{coll_titles.iloc[420]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[420]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[400]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[400]}}" class="title">{{coll_titles.iloc[400]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[400]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[424]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[424]}}" class="title">{{coll_titles.iloc[424]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[424]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[115]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[115]}}" class="title">{{coll_titles.iloc[115]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[115]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->

        </div>
        <!-- container .//  -->
    </section>

    <section class="section-content padding-bottom-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[146]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[146]}}" class="title">{{coll_titles.iloc[146]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[146]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[160]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[160]}}" class="title">{{coll_titles.iloc[160]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[160]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[404]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[404]}}" class="title">{{coll_titles.iloc[404]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[404]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[300]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[300]}}" class="title">{{coll_titles.iloc[300]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[300]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->

        </div>
        <!-- container .//  -->
    </section>

    <section class="section-content padding-bottom-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[220]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[20]}}" class="title">{{coll_titles.iloc[220]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[220]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[500]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[500]}}" class="title">{{coll_titles.iloc[500]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[500]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[212]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[212]}}" class="title">{{coll_titles.iloc[212]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[212]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[204]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[204]}}" class="title">{{coll_titles.iloc[204]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[204]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->

        </div>
        <!-- container .//  -->
    </section>

    <section class="section-content padding-bottom-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[222]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[222]}}" class="title">{{coll_titles.iloc[222]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[222]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[252]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[252]}}" class="title">{{coll_titles.iloc[252]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[252]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[242]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[242]}}" class="title">{{coll_titles.iloc[242]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[242]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[232]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[232]}}" class="title">{{coll_titles.iloc[232]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[232]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->

        </div>
        <!-- container .//  -->
    </section>
    <section class="section-content padding-bottom-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[273]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[273]}}" class="title">{{coll_titles.iloc[273]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[273]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[540]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[540]}}" class="title">{{coll_titles.iloc[540]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[540]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[441]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[441]}}" class="title">{{coll_titles.iloc[441]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[441]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[342]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[342]}}" class="title">{{coll_titles.iloc[342]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[342]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->

        </div>
        <!-- container .//  -->
    </section>


    <section class="section-content padding-bottom-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[323]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[323]}}" class="title">{{coll_titles.iloc[323]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[323]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[842]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[842]}}" class="title">{{coll_titles.iloc[842]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[842]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[346]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[346]}}" class="title">{{coll_titles.iloc[346]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[346]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[343]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[345]}}" class="title">{{coll_titles.iloc[343]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[343]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->

        </div>
        <!-- container .//  -->
    </section>

    <section class="section-content padding-bottom-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[306]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[306]}}" class="title">{{coll_titles.iloc[306]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[306]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[337]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[37]}}" class="title">{{coll_titles.iloc[37]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[37]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[38]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[38]}}" class="title">{{coll_titles.iloc[38]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[38]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[487]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[487]}}" class="title">{{coll_titles.iloc[487]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[487]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->

        </div>
        <!-- container .//  -->
    </section>


 <section class="section-content padding-bottom-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[90]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[90]}}" class="title">{{coll_titles.iloc[90]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[90]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[453]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[453]}}" class="title">{{coll_titles.iloc[453]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[453]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[93]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[93]}}" class="title">{{coll_titles.iloc[93]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[93]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[94]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[94]}}" class="title">{{coll_titles.iloc[94]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[94]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->

        </div>
        <!-- container .//  -->
    </section>


 <section class="section-content padding-bottom-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[95]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[95]}}" class="title">{{coll_titles.iloc[95]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[95]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[97]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[97]}}" class="title">{{coll_titles.iloc[97]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[97]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[906]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[906]}}" class="title">{{coll_titles.iloc[906]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[906]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[97]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[96]}}" class="title">{{coll_titles.iloc[97]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[97]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->

        </div>
        <!-- container .//  -->
    </section>
<!-- container .//  -->

<section class="section-content padding-bottom-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[138]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[138]}}" class="title">{{coll_titles.iloc[138]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[138]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[570]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[570]}}" class="title">{{coll_titles.iloc[570]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[570]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[464]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[464]}}" class="title">{{coll_titles.iloc[464]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[464]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[176]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[176]}}" class="title">{{coll_titles.iloc[176]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[176]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->

        </div>
        <!-- container .//  -->
    </section>


<section class="section-content padding-bottom-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[4]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[4]}}" class="title">{{coll_titles.iloc[4]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[4]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[107]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[107]}}" class="title">{{coll_titles.iloc[107]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[107]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[101]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[101]}}" class="title">{{coll_titles.iloc[101]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[101]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[190]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[190]}}" class="title">{{coll_titles.iloc[190]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[190]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->

        </div>
        <!-- container .//  -->
    </section>

<section class="section-content padding-bottom-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[103]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[103]}}" class="title">{{coll_titles.iloc[103]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[103]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[127]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[100]}}" class="title">{{coll_titles.iloc[100]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[100]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[121]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[121]}}" class="title">{{coll_titles.iloc[121]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[121]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[111]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[111]}}" class="title">{{coll_titles.iloc[111]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[111]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->

        </div>
        <!-- container .//  -->
    </section>


    <section class="section-content padding-bottom-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[124]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[124]}}" class="title">{{coll_titles.iloc[124]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[124]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[67]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[67]}}" class="title">{{coll_titles.iloc[67]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[67]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[239]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[239]}}" class="title">{{coll_titles.iloc[239]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[239]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src={{coll_images.iloc[110]}} style="width:300px"> </a>
                        <figcaption class="info-wrap">
                            <a href="/book/{{coll_titles.iloc[110]}}" class="title">{{coll_titles.iloc[110]}}</a>
                            <div class="price mt-1">{{coll_authors.iloc[110]}}</div>
                            <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->

        </div>
        <!-- container .//  -->
    </section>


    <!-- ========================= FOOTER ========================= -->
    

            <section class="footer-bottom row">
                <div class="col-md-2">
                    <p class="text-muted"> &copy 2021 PNBOOKRECOM </p>
                </div>
                <div class="col-md-8 text-md-center">
                    <span class="px-2"><strong>Email: </strong>pnsngumremyi15@alustudent.com</span>
                    <span class="px-2"><strong>Phone Number: </strong>+250787660255</span>
                  
                </div>
              
            </section>
        </div>
        <!-- //container -->
    </footer>
    <!-- ========================= FOOTER END // ========================= -->


</body>

</html>